<!DOCTYPE html>
<html>
<head>
  <title>LetsDo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


</head>
<body>


<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">LetsDo</a>
    <ul class="nav">
      <li class=><a href="/events">Home</a></li>
      <li><a href="/events">Events</a></li>
      <li><a href="/events/new">New Event</a></li>

		<li><a href="/users">Users</a></li>

		<% if session[:user_id].present? %>
			<%= link_to 'logout', sessions_url, method: 'delete' %>
			<%else%>
			<%= link_to 'Sign in', new_session_url %>
<% end %>
    </ul>
  </div>
</div>



<%= yield %>

</body>
</html>
